<!-- adicionar en todas las paginas la base del archivo html -->
{% extends "base.html" %}

{% block titulo %} Vision {% endblock %}

{% block contenido %} 


		<!-- About Section -->
        <section id="services">
            <div class="container">
                <br>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading"><b>VISIÓN</b></h2>
                    </div>
                </div>
                <div class="row top-margin-md">
                    <div class="col-md-6">
                        {% load static %}     
                    <img src="{% static 'images/formularios/2.jpeg' %}"  width="500" height="auto" class="img1" alt="" >
                    </div>
                    <div class="col-md-6">
                        <!-- <h2 class="section-heading">nbsp;</h2> -->
                        <h3 class="section-subheading text-muted bottom-margin-sm" align=justify>Ser una Unidad Educativa de excelencia, autónoma, culta, con espíritu crítico, líder en la generación de conocimientos y en la formación de Bachilleres de alto nivel que contribuye a la transformación del país y que, en un clima seguro, forjar a los adolescentes para que sean personas productivas en la sociedad, con las destrezas y valores que le permitan desarrollar un proyecto de vida personal que los inserte en un mundo cambiante e innovador.</h3>
                    </div>
                </div>
            </div>
        </section>
        
        <!--Iconos-->
        <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
      </head>
    


{% endblock %}
